* {
    margin: 0; 
    padding: 0;
}

.main-content {
    background-color: #f1f1f1;
    height: 100vh;
    padding-top: 1rem;
}

.validaton-success-banner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    background-color: lightgreen;
    box-sizing: border-box;
    margin-bottom: 1rem;
    visibility: hidden;
}

.main-form {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.input-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-group {
    width: 80%;
    margin: 0 auto;

}

.input-element {
    width: 100%;
    padding: 0.5rem;
}

#submit-btn {
    padding: 0.5rem 1rem;
    background-color: lightskyblue;
    border: none;
    border-radius: 5%;
    color: white;
    cursor: pointer;
}

.error {
    border: 1px solid red;
}

